@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 27, 27, 27;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 213, 213, 213;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 213, 213, 213;
    --background-start-rgb: 27, 27, 27;
    --background-end-rgb: 214, 219, 220;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Modell Page */
.lightspot1 {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 10%);
  filter: blur(100px);
  opacity: 0.8;
  -webkit-filter: blur(90px);
}

.lightspot2 {
  background: #d58f0c;
  filter: blur(80px);
  opacity: 0.8;
  -webkit-filter: blur(90px);
}

.texthighlight {
  transition: all 1s ease-out;
  transition-duration: 1000;
  z-index: -10;
}

.textspace {
  @apply text-transparent hidden transition-all duration-1000 tracking-normal ease-out;
}

/* END: Modell Page */
